.wrapper {
    margin: 0 auto;
    background-image: url(../../image/demontazh-5.jpg);
    height: 45rem;
    max-width: 80%;
    background-size: cover;
}

.wrapper_overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    background-size: cover;
    height: 45rem;
    width: 80%;
}

.description {
    color: white;
    max-width: 70%;
    margin: 9rem;
}