.footer {
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
    height: 5rem;
    margin-top: 3rem;
}


.container {
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

p {
    display: block;
}